circuitsvis>=1.43.2
datasets>=2.18.0
einops>=0.7.0
graphviz>=0.20.1
matplotlib>=3.8.3
nnsight<0.4
numpy>=1.26.4
pandas>=2.2.1
plotly>=5.18.0
torch>=2.1.2
torchtyping>=0.1.4
tqdm>=4.66.1
zstandard>=0.22.0
numpy<2.0
dictionary_learning

# for converting the clusters
huggingface-hub
sqlitedict